<?xml version="1.0"?>
<robot name="RIA-R100" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin name="ria_r100_control" filename="libgazebo_ros_control.so">
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>

  <gazebo reference="base_footprint">
    <material>Gazebo/Green</material>
  </gazebo>
  
  <gazebo reference="base_link">
    <material>Gazebo/Red</material>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>

  <gazebo reference="RIA_BASE_LOW">
    <material>Gazebo/FlatBlack</material>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>

  <gazebo reference="RIA_BASE_TOP">
    <material>Gazebo/Green</material>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>

  <gazebo reference="WHEEL_FL">
    <mu1 value="1.0"/>
    <mu2 value="1.0"/>
    <fdir1 value="1 0 0"/>
    <kp value="10000000.0"/>
    <kd>1.0</kd>
    <maxVel>1.5</maxVel>
    <material>Gazebo/FlatBlack</material>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>

  <gazebo reference="WHEEL_FR">
    <mu1 value="1.0"/>
    <mu2 value="1.0"/>
    <fdir1 value="1 0 0"/>
    <kp value="10000000.0"/>
    <kd>1.0</kd>
    <maxVel>1.5</maxVel>
    <material>Gazebo/FlatBlack</material>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>

  <gazebo reference="WHEEL_BL">
    <mu1 value="1.0"/>
    <mu2 value="1.0"/>
    <fdir1 value="1 0 0"/>
    <kp value="10000000.0"/>
    <kd>1.0</kd>
    <maxVel>1.5</maxVel>
    <material>Gazebo/FlatBlack</material>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>

  <gazebo reference="WHEEL_BR">
    <mu1 value="1.0"/>
    <mu2 value="1.0"/>
    <fdir1 value="1 0 0"/>
    <kp value="10000000.0"/>
    <kd>1.0</kd>
    <maxVel>1.5</maxVel>
    <material>Gazebo/FlatBlack</material>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>

</robot>
