<launch>
    <!-- Arm type --> 
    <arg name="arm" default="gen3"/>
    <arg name="dof" default="7" if="$(eval arg('arm') == 'gen3')"/> <!-- Number of degrees of freedom of the arm -->
    <arg name="dof" default="6" if="$(eval arg('arm') == 'gen3_lite')"/> <!-- Number of degrees of freedom of the arm -->
    <arg name="vision" default="true"/> <!-- True if the arm has a Vision module -->
    <!-- Default gripper for Gen3 is none, default gripper for Gen3 lite is gen3_lite_2f -->
    <arg name="gripper" default="" if="$(eval arg('arm') == 'gen3')"/>
    <arg name="gripper" default="gen3_lite_2f" if="$(eval arg('arm') == 'gen3_lite')"/>


    <arg name="robot_name" default="picabot"/>
    <arg name="prefix" default="gen3_"/>
    <arg name="cyclic_data_publish_rate" default="40"/> <!--Hz-->


  <!-- Start Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="paused" value="false" />
    <arg name="gui" value="true" />
  </include>

  <!-- Upload Picabot URDF to param server -->
  <param name="robot_description" command="$(find xacro)xacro '$(find robot)/xacro/robot.xacro' --inorder" />

  <!-- Spawn Picabot URDF to Gazebo -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model robot -param robot_description"/>

</launch>
